{% extends "base.html.twig" %}

{% block title %}Je créer ma recette{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container mx-auto">
  {{ form_start(form) }}
      <div class="my-custom-class-for-errors">
          {{ form_errors(form) }}
      </div>

      <div class="row">
          <div class="mb-5">
              {{ form_row(form.name) }}
          </div>

          <div class="mb-5">
            <ul class="tools"
              data-index="{{ form.tools|length > 0 ? form.tools|last.vars.name + 1 : 0 }}"
              data-prototype="{{ form_widget(form.tools.vars.prototype)|e('html_attr') }}"
            ></ul>
            <button type="button" data-collection-holder-class="tools" class="mt-4 add_item_link inline-block px-6 py-3 mr-3 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer bg-gradient-to-tl from-green-700 to-green-500 leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 hover:scale-110 hover:rotate-2 hover:bg-white hover:text-white hover:shadow-lg active:opacity-85">Ajoute un ustensile !</button>
          </div>

          <div class="mb-5">
            <ul class="ingredients"
              data-index="{{ form.ingredients|length > 0 ? form.ingredients|last.vars.name + 1 : 0 }}"
              data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}"
            ></ul>
            <button type="button" data-collection-holder-class="ingredients" class="mt-4 add_item_link inline-block px-6 py-3 mr-3 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer bg-gradient-to-tl from-green-700 to-green-500 leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 hover:scale-110 hover:rotate-2 hover:bg-white hover:text-white hover:shadow-lg active:opacity-85">Ajoute un ingrédient !</button>
          </div>

          <div class="mb-1">
            {{ form_row(form.method) }}
          </div>
          {{ form_row(form._token) }}
          <div>
            {{ form_row(form.Envoyer) }}
          </div>
      </div>
</div>

<script>
  const addFormToCollection = (e) => {
    const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

    const item = document.createElement('li');

    item.innerHTML = collectionHolder
      .dataset
      .prototype
      .replace(
        /__name__/g,
        collectionHolder.dataset.index
      );

    collectionHolder.appendChild(item);

    collectionHolder.dataset.index++;
  };

  document
    .querySelectorAll('.add_item_link')
    .forEach(btn => {
        btn.addEventListener("click", addFormToCollection)
    });

</script>
{% endblock %}